@model NavigationViewModel
@{
  var node = Model.StartingNode ?? Model.CurrentNode;
}


<a class="navbar-item" href="@Url.Content(Model.AdjustUrl(node))">
  @Model.AdjustText(node)
</a>

@foreach (var childNode in node.Children)
{
  <a class="navbar-item" href="@Url.Content(Model.AdjustUrl(childNode))">
    @Model.AdjustText(childNode)
  </a>
}