@{
  ViewData["Title"] = "About Page";
}

@section CustomMenu {
  
@await Component.InvokeAsync("Navigation", new {viewName = "BulmaTopNav", filterName = "BulmaTopNav", startingNodeKey = ""})
  
}

<div>
  <h1>About</h1>
  <p></p>
</div>