@{
  ViewData["Title"] = "Home Page";
}

@section CustomMenu {
  
@await Component.InvokeAsync("Navigation", new {viewName = "BulmaTopNav", filterName = "BulmaTopNav", startingNodeKey = ""})

}

<div>
  <h1>Welcome</h1>
  <p></p>
</div>
