<table class="table">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col"></th>
  </tr>
  <tr>
    <td>
      item.Id
    </td>
    <td>
      item.Name
    </td>
    <td>
      <a asp-controller="Customers" asp-action="Edit" asp-route-customerId="1">Edit</a>
    </td>

  </tr>
</table>